@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#excuse {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 1.5rem;
    color: #444;
    text-align: center;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0.1);
}

#btn {
    margin-top: 25px;
    padding: 12px 25px;
    font-size: 1.1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.03s ease;
}

#btn:hover {
    background-color: #0056b3;
    
}